<!DOCTYPE html>
<html lang="en" dir="ltr">
  <link rel="stylesheet" href="../static/styles.css">
  <head>
    <meta charset="utf-8">
    <title>Shrek Is Love</title>
  </head>
  <body>
    <center>
      <img src="../static/assets/scary_shrek.png" alt="Scary Shrek">
      <h1> Shrek Script Generator </h1>
      <p> Insert a movie title and Shrek's first words to the textboxes, and have this swampy AI generate a script! </p>
      <form method="POST">
        <input type="text" name="script title" maxlength="20" placeholder="Title">
        <textarea  name="first words" max_length="200" placeholder="Shrek's first words"></textarea>
        <div style="width:100%">
          <input type="submit">
        </div>
      </form>
    </center>
  </body>
</html>