<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../static/styles.css" />
    <head>
        <meta charset="UTF-8" />
        <title>Shrek Is Love</title>
    </head>
    <center>
        <body style="background-color: #9de718;">
            <img src="../static/assets/scary_shrek.png" alt="Scary Shrek" />

            <div class="container">
                <div class="left"></div>
                <div class="main"><h1 class="with-breaks">{{movie_script}}</h1></div>
                <div class="right"></div>
            </div>

            <img src="../static/assets/swagger_shrek.png" alt="Swaggy Shrek" />
        </body>
    </center>
</html>
